*,
*::after,
*::before {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: $body-background;
  @include useInterFont();
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
